modules = ["python-3.11", "python3", "postgresql-16", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "geos", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "gumbo", "harfbuzz", "jbig2dec", "libiconv", "libjpeg_turbo", "libxcrypt", "libyaml", "mupdf", "openjpeg", "pkg-config", "qhull", "readstat", "swig", "tcl", "tk", "xcbuild", "xsimd", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mockup-sandbox: Component Preview Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/mockup-sandbox && npm install --legacy-peer-deps && PORT=3001 BASE_PATH=/__mockup/ npm run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[agent]
integrations = ["web_scraper:1.0.0"]

[userenv]

[userenv.shared]
CENSUS_API_KEY = "8a848d918aea43b9a29bce82eb7f22e12a516564"
ENABLE_SCRAPERS = "1"
