numpy==2.3.0

pandas==2.3.0

flask

gunicorn
geopandas
matplotlib
pyshp
shapely
census
beautifulsoup4
folium
fpdf
flask-sqlalchemy
sqlalchemy
psycopg2-binary
python-dotenv
coverage
flask-testing
pytest
pytest-flask
pytest-cov
sentry-sdk
flask-limiter
pyyaml
scikit-learn
openpyxl
apscheduler
pypdf
python-docx
census
us
